/* ||RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    display: block;
}

:root{
    --BG-COLOR:  rgb(192, 193, 202);
    --LIGHT-BG-COLOR: rgba(28, 194, 194, 0.324);
    --FCOLOR:  rgba(60, 70, 105);
}
/* ||CLOSE RESET */


/* ||HEADER */
header{
    height: 15vh;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: black;
    box-shadow: 1px 1px 10px 1px;
    background: linear-gradient(
        180deg,
        white,
        var(--BG-COLOR)
        )
    }
    
.top{
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.toggle-bar{
    color: rgb(60, 70, 105);
    width: 20px;
}



.hidden{
    display: none;
    position: fixed;
    left: 100px;
    width: 200px;
    background-color: red;
    z-index: 2;
}

.toggle-bar i:hover{
    transform: scale(1.5);
    transition: all 200ms linear;
}

.toggle-bar i:active{
    transform: scale(1.5);
    transition: all 200ms linear;
}

.logo{
    height: 100%;
    width: 55%;
    margin-left: 1vw;
    display: grid;
    align-items: center;
}

.logo a {
    width: 100%;
    height: 7.5vh;
    object-fit: fill;
}

.logo a img{
    height: 7.4vh;
    width: 80%;
    max-width: 250px;

}

.others{
    width: 42%;
    display: flex;
    justify-content: flex-end;
    gap: 5vw;
    padding-top: 2vh
}

.others a{
    color: rgb(60, 70, 105);
}

.others a:hover, .others a:active{
    transform: scale(1.1); /* fornew */
    transition: all 200ms linear;
}

.bottom{
    height: 40%;
    display: flex;
}


.search{
    width: calc(100% - 14px);
    display: flex;
    justify-content: center;
    height: min(100%, 32px);
}

.search input{
    text-overflow: ellipsis;
}

.search span{
    color: var(--FCOLOR);
    background-color: rgba(255, 255, 255, 0.781);
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1.2px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.search button{
    border: none;
    outline: none;
    padding: 3px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 5px;
    color: var(--BG-COLOR);
    background-color: var(--FCOLOR);
}

.search button:hover, .search button:active{
    transform: scale(1.05);
    transition: all 200ms linear; /* fornew */
}

input{
    border-radius: 0 5px 5px 0;
    outline: none;
    border: none;
    color:  rgb(24, 11, 24);
    width: 50%;
    padding-left: 7px;
    background-color: rgba(255, 255, 255, 0.781);
}

/* ||CLOSE HEADER */

main{
    min-height: calc(100% - 15vh);
    position: relative;
    top: 15vh;
    padding: 10px;
    padding-bottom: 30vh;
}

.product_image{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 0;
    gap: 2vw;
}

.product_image img{
    min-width: 180px;
    width: 40vw;
    max-width: 350px;
    border: 1px solid black;
}

#details{
    height: 40vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5vh 0 2vh 0;
}

#pdct{
    padding: 2vw;
    border: 2px solid var(--FCOLOR);
    border-radius: 10px;
}

.label{
    background-color: var(--BG-COLOR);
    width: 20%;
    height: 90%;
    border: var(--FCOLOR);
    font-weight: 700;
    border-radius: 5px;
}

#details p{
    background-color: var(--LIGHT-BG-COLOR);
    height: 20%;
    display: flex;
    border-radius: 5px;
}

.content{
    width: 80%;
    border-bottom: 1px solid var(--BG-COLOR);
    border-radius: 5px;
}

.label, .content{
    display: grid;
    align-items: center;
    padding-left: 5px;
    color: var(--FCOLOR);
}

.or_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3vw;
    white-space: nowrap;
}

.qty{
    display: flex;
    width: 20%;
    max-width: 50px;
    background-color: var(--BG-COLOR);
    border-radius: 5px;
    max-width: 500px;
    height: 6vh;
    padding: 0 3px;
    color: var(--FCOLOR);
}

#sp_qty{
    display: grid;
    align-items: center;
    font-weight: bold;
    border-right: 3px solid var(--LIGHT-BG-COLOR);
}

#quantity{
    width: 100%;
    background-color: var(--BG-COLOR);
    border-radius: 5px;
    font-size: 16px;
}

.qty:hover{
    border: 1px solid var(--FCOLOR);
    filter: blur(.5px);
}

#order1, #order2{
    border: none;
    width: 20%;
    max-width: 500px;
    height: 6vh;
    background-color: var(--FCOLOR);
    color: white;
    letter-spacing: 4px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bolder;
}

.contact_top{
    box-shadow: 1px 1px 3px 1px;
    height: fit-content;
    color: var(--FCOLOR);
    padding: 10px 5px;
    background-color: rgba(194, 194, 194, 0.479);
    margin: 4vh 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    padding-top: auto;
}

.contact_top a{
    padding-top: auto;
    color: var(--FCOLOR);
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding-inline: 2vw;
    height: 8vh;
    display: flex;
    text-decoration: none;
}

.contact_top a:hover, .contact a:active{
    transform: scaleY(1.2);
    transition: all 200ms ease-in-out;
}

.contact_top a img{
    margin-top: auto;
    margin-bottom: auto;
}

.contact_top i{
    font-size: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.contact_top .nmbr{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
}

#msg{
    width: 40%;
    margin-inline: auto;
    padding-inline: 10%;
}

#msg .nmbr{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
}

.recommended{
    margin: 5vh 0;
}

#rc_title{
    font-weight: 600;
    font-size: 1rem;
    color: var(--FCOLOR);
    padding-left: 3vw;
}

.partshow{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2vw;
    padding: 3vw;
}

.prdt_lnk{
    text-decoration: none;
    height: 40vh;
    min-height: 250px;
}

.prdt_lnk:hover{
    transform: scale(105%);
}

.product-slot{
    height: 100%;
    min-height: 250px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(109, 109, 109);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-slot img{
    height: 70%;
}

.product-slot article{
    padding: 5px;
    background-color: var(--BG-COLOR);
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
}

.product-slot p:first-child{
    color: var(--FCOLOR);
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-slot p:last-child{
    background-color: var(--FCOLOR);
    width: 60%;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.top_searches{
    margin: 2vh 2vw 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1vw;
}

.top_searches div{
    border: 1px solid var(--FCOLOR);
    height: 4vh;
    display: flex;
}

.one{
    width: 90%;
    display: grid;
    align-items: center;
    padding: 2px;
    color: var(--FCOLOR);
    text-overflow: ellipsis;
    background-color: var(--BG-COLOR);
}

.two{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 10%;
    border-left: 1px solid var(--FCOLOR);
    color: var(--FCOLOR);
    background-color: var(--BG-COLOR);
}

#tpsrch{
    margin-left: 2vw;
    color: var(--FCOLOR);
    font-weight: bolder;
}

/* ||FOOTER */
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:  var(--FCOLOR);
    position: relative;
    bottom: 0;
}

.mainft{
    color:  rgba(255, 255, 255, 0.781);
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:  2vw;
    justify-content: space-between;
}

.socials{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.socials a{
    color: rgba(255, 255, 255, 0.781);
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact a{
    color: white;
    text-decoration: none;
}

.ftft{
    margin: 2vh 0;
    color:  rgb(27, 151, 48);
    text-align: center;
}

/* for new footer designs */

.legal_pg{
    color: var(--BG-COLOR);
    text-decoration: none;
}

.about a:hover, .about a:active, .socials a:hover, .socials a:active{
    font-weight: bolder;
}

.socials a:hover, .socials a:active{
    transform: scale(1.1);
}

.contact a:hover, .contact a:active{
    font-weight: bolder;
}

/* ||CLOSE FOOTER */

/* ||MEDIA QUIRIES */
@media screen and (max-width: 400px) {
    #details p .label{
        width: 30%;
        padding-inline: 1px;
    }
    
    .content{
        font-size: 14px;
    }
    
    
}



@media screen and (max-width: 460px){
    .or_btn{
        display: flex;
        flex-direction: column;
    }

    .qty, #order1, #order2{
        margin-inline: auto;
        width: 100%;
        min-width: 200px;
        
    }

    .partshow{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        padding: 0;
    }

    .prdt_lnk{
        width: 46%;
        margin: 0;
    }

    .product-slot{
        width: 100%;
        margin-bottom: 10px;
    }

    
}

@media screen and (max-width: 500px){
   .label{
    font-size: 12px;
   }

   #order{
    font-size: 16px;
   }
}

@media screen and (max-width: 565px) {
    .search button{
        display: none;
    }

    .search input{
        width: 90%;
    }
}

@media screen and (max-width: 670px){
    .or_btn{
        display: flex;
        justify-content: space-between;
    }

    .qty{
        width: 30%;
    }

    #order1, #order2{
        font-size: 14px;
        width: 30%;
    } 
}

@media screen and (max-width: 800px){
    #order1, #order2{
        font-size: 14px;
    }
}

/* ||CLOSE MEDIA QUERIES */